.scrollTop {
  position: fixed;
  width: 35px;
  left: 90%;
  bottom: 14px;
  height: 35px;
  font-size: 3rem;
  z-index: 1;
  cursor: pointer;
  padding: 7px;
  border-radius: 9px;
  background: linear-gradient(#e2e8f0, #fff);
}
